<td class="big_card" colspan="3">
    <img src="images/Form2.jpg" alt="form">
    <form action="/Home/Form" method="POST">
        <fieldset>
            <legend>Make ur order</legend>
            <input type="text" name="Nickname" placeholder="Your nickname here" required /><br />
            <input type="text" name="Server" placeholder="Your server here" required /><br />
            <select name="Service">
                <option value="Adena">Adena</option>
                <option value="Exp">Exp</option>
                <option value="Quests">Quests</option>
            </select><br />
            <input type="submit" />
        </fieldset>
    </form>
</td>
