<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("cssPartial")
    @await Html.PartialAsync("metatagsPartial")
</head>
<body>
    <div id="wrapper">
        @*Header*@
        @await Html.PartialAsync("headerPartial")

        @*Main*@
        <div id="content">
            <div id="nav">
                <ul>
                    <li><a title="Go to main page" href="/Home/Index"><img src="images/l2logof.jpg" alt="Main page Logo" /></a></li>
                    @if (IsSectionDefined("Nav"))
                    {
                        @RenderSection("Nav")
                    }
                </ul>
            </div>
            <div id="main">
                @RenderBody()
            </div>
            @if (IsSectionDefined("Form"))
            {
                @RenderSection("Form")
            }
        </div>

        @*Footer*@
        @await Html.PartialAsync("footerPartial")
    </div>
    @await Html.PartialAsync("scriptsPartial")
</body>
</html>