<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("cssPartial")
    @await Html.PartialAsync("metatagsPartial")
</head>
<body>
    <div id="wrapper">
        @*Header*@
        @await Html.PartialAsync("headerPartial")

        @*Main*@
        <div id="content">                 
            <div id="nav">
                <ul>
                    <li><a title="Go to main page" href="index.html"><img src="images/l2logof.jpg" alt="Main page Logo" /></a></li>
                    <li><a title="Go to Adena page" href="Adena.html">Adena</a></li>
                    <li><a title="Go to Exp page" href="Exp.html">Exp</a></li>
                    <li><a title="Go to Quests page" href="Quests.html">Quests</a></li>
                </ul>
            </div>
            <div id="main">
                @RenderBody()
            </div>
        </div>

        @*Footer*@
        @await Html.PartialAsync("footerPartial")
    </div>
    @await Html.PartialAsync("scriptsPartial")
</body>
</html>